aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
alembic==1.18.4
APScheduler==3.11.2
attrs==26.1.0
blinker==1.9.0
cachelib==0.13.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cryptography==50.0.0
Flask==3.1.3
Flask-Caching==2.3.1
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
frozenlist==1.8.0
greenlet==3.3.2
http_ece==1.2.1
idna==3.19
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
ms-identity-python @ git+https://github.com/azure-samples/ms-identity-python@834583646df315b79bc89f54808f4ae9c2a1ce59
msal==1.35.1
msgspec==0.20.0
multidict==6.7.1
propcache==0.5.2
py-vapid==1.9.4
pycparser==3.0
PyJWT==2.13.0
pywebpush==2.4.0
redis==7.3.0
requests==2.33.0
SQLAlchemy==2.0.48
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.7.0
waitress==3.0.2
Werkzeug==3.1.6
WTForms==3.2.1
yarl==1.24.5
