{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="main-panel">
        <div class="sub-panel account-grid">
            <div class="account-field" style="pointer-events: none;">
                <div class="label">
                    <img src="{{ url_for('static', filename='person.svg') }}">
                    <span>Uporabniško ime</span>
                </div>
                <span class="value button non-clickable">{{ formatTitle(current_user.username) }}</span>
            </div>

            <div class="account-field">
                <div class="label">
                    <img src="{{ url_for('static', filename='password.svg') }}">
                    <span>Geslo</span>
                </div>
                <div class="value button" onclick="window.location.href='/change-password'">
                    <img class="value-img" src="{{ url_for('static', filename='edit.svg') }}">
                    <p class="value">SPREMENI</p>
                </div>
            </div>

            <div class="account-field">
                <div class="label">
                    <img src="{{ url_for('static', filename='email.svg') }}">
                    <span>Email naslov</span>
                </div>
                <form action="/send-email/register" method="POST">
                    <input type="email" name="email" class="value" placeholder="{{ email }}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}