<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>Tutorstvo - Gimsen</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block stylesheet %}
    {% endblock %}
</head>

<body data-dark-mode="{{ 'true' if current_user.dark_mode else 'false' }}">
    {% if setup_group %}
        <div class="option-group center">
            <form action="/select-group" method="post">
                <h1 class="text" style="display: block; text-align: center; width: 100%; font-size: 25px;">Izberi svoj letnik</h1>
                <div style="height: 15px;"></div>
                <button type="button" class="option-button selected" onclick="selectGroup('y1')">1. Letnik</button>
                <button type="button" class="option-button" onclick="selectGroup('y2')">2. Letnik</button>
                <button type="button" class="option-button" onclick="selectGroup('y3')">3. Letnik</button>

                <input type="hidden" value="y1" name="group" id="selectedGroup" required>
                <div style="height: 15px;"></div>
                <button type="submit" class="option-button">Izberi</button>
            </form>
        </div>
        <div style="filter: blur(1.2px); position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; pointer-events: none;">
    {% endif %}
    <main>
        <div class="topbar">
            <a href="home" class="logo">
                <img src="{{ url_for('static', filename='tutorstvo.svg') }}" class="logo noInvert">
            </a>
            
            <div class="topbar-right">
                <a href="toggle-dark-mode" class="button">
                    <img src="{{ url_for('static', filename='dark_mode.svg') }}" id="toggle-dark-mode" class="icon noInvert">
                </a>

                <a href="logout" class="button">
                    <img src="{{ url_for('static', filename='logout.svg') }}" class="icon noInvert">
                </a>
            </div>
        </div>

        {% block content %}{% endblock %}

        <aside class="sidebar">
            <button class="sidebar-toggle" id="sidebar-button" onclick="toggleSidebar()">
                <i class="material-icons main-sidebar-icon">menu</i>
            </button>
            <ul>
                {% set href = 'home' %}
                {% set img = 'home.svg' %}
                {% set text = 'Domov' %}
                {% include 'sidebar_snippet.html' %}

                {% set href = 'tutorstvo' %}
                {% set img = 'tutorstvo.svg' %}
                {% set text = 'Tutorstvo' %}
                {% include 'sidebar_snippet.html' %}

                {% set href = 'leaderboard' %}
                {% set img = 'leaderboard.svg' %}
                {% set text = 'Lestvica' %}
                {%  include 'sidebar_snippet.html' %}

                {% set href = 'learning-resources' %}
                {% set img = 'learning_resources.svg' %}
                {% set text = 'Učna sredstva' %}
                {% include 'sidebar_snippet.html' %}

                {% if current_user.is_admin() %}
                {% set href = 'admin-panel' %}
                {% set img = 'admin-panel.svg' %}
                {% set text = 'Upravljaj' %}
                {% include 'sidebar_snippet.html' %}
                {% endif %}
            </ul>
        </aside>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block script %}{% endblock %}
</body>

</html>
