<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0">
    <title>Tutorstvo - Gimsen</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block stylesheet %}
    {% endblock %}
</head>

<body data-dark-mode="{{ 'true' if current_user.dark_mode else 'false' }}">
    <main>
        <div class="topbar">
            <a href="home" class="logo">
                <img src="{{ url_for('static', filename='tutorstvo.svg') }}" class="logo">
            </a>
            
            <div class="topbar-right">
                <a href="toggle-dark-mode" class="button">
                    <img src="{{ url_for('static', filename='dark_mode.svg') }}" id="toggle-dark-mode" class="icon">
                </a>

                <a href="logout" class="button">
                    <img src="{{ url_for('static', filename='logout.svg') }}" class="icon">
                </a>
            </div>
        </div>

        {% block content %}{% endblock %}

        <aside class="sidebar">
            <button class="sidebar-toggle" onclick="toggleSidebar()">
                <i class="material-icons main-sidebar-icon">menu</i>
            </button>
            <ul>
                <li>
                    <a href="home" class="sidebar-link">
                        <img src="{{ url_for('static', filename='home.svg') }}" class="sidebar-icon">
                        <span class="sidebar-text">Domov</span>
                    </a>
                </li>
                <li>
                    <a href="tutorstvo" class="sidebar-link">
                        <img src="{{ url_for('static', filename='tutorstvo.svg') }}" class="sidebar-icon">
                        <span class="sidebar-text">Tutorstvo</span>
                    </a>
                </li>
                <li>
                    <a href="tests" class="sidebar-link">
                        <img src="{{ url_for('static', filename='testi.svg') }}" class="sidebar-icon">
                        <span class="sidebar-text">Stari testi</span>
                    </a>
                </li>
                <li>
                    <a href="learning-resources" class="sidebar-link">
                        <img src="{{ url_for('static', filename='learning_resources.svg') }}" class="sidebar-icon">
                        <span class="sidebar-text">Učna sredstva</span>
                    </a>
                </li>
                <li>
                    <a href="account" class="sidebar-link">
                        <img src="{{ url_for('static', filename='account.svg') }}" class="sidebar-icon">
                        <span class="sidebar-text">Account</span>
                    </a>
                </li>
                {% if current_user.is_admin() %}
                <li>
                    <a href="admin-panel" class="sidebar-link">
                        <img src="{{ url_for('static', filename='admin-panel.svg') }}" class="sidebar-icon">
                        <span class="sidebar-text">Manage</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </aside>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block script %}{% endblock %}
</body>

</html>
