{% extends "base.html" %}
{% set page = "faq" %}

{% set faq = {
              "Kaj pomenijo oznake MSV, MPK, MDŽ, DSP in IZV?": expl + ("<br /><br />(Lahko tudi podržiš kazalec miške nad <img title=\"MSV - Miza pri stranskem vhodu\nMPK - Miza pri knjižnici\nMDŽ - Miza dežurnega učenca\nDSP - Dijaška soba pri plesni dvorani\nIZV - Izven šole (lokacija mora biti podana v opisu ure)\" src=\"/static/info.svg\" class=\"info-icon\" style=\"position: relative; left: 0; top: 2px;\"> simbolom, ki ti bo prikazal pomen oznak.)" if not mobile else ""),
              "Kje lahko kot tutor naredim uro?": "V stranskem meniju izberi 'Tutorstvo', klikni na prazen prostor v urniku, da tam ustvariš uro.",
              "Kako lahko najdem uro za določen predmet?": "V stranskem meniju izberi 'Tutorstvo', klikni na ikono povečevalnega stekla v zgornjem levem kotu, izberi svoj predmet in klikni ikono povečevalnega stekla.",
             } %}

{% block content %}
<h1 class="welcome">Pogosta vprašanja</h1>
{% if not mobile %}
<div class="main center" style="margin-top: 80px; width: fit-content;">
{% else %}
<div class="main" style="margin-top: 80px;">
{% endif %}
    {% for q in faq %}
    <div class="faq-container">
        <p class="faq-q">&bull; {{ q }}</p>
        <p class="faq-a">{{ faq[q] | safe }}</p>
    </div>
    <br />
{% endfor %}
</div>
{% endblock %}
