{% extends "base.html" %}
{% set page = "home" %}

{% block body_top %}
{% if not current_user.is_tutor() %}
<div class="popup" id="become-a-tutor" class="popup-form">
    <form method="POST" action="/become-a-tutor">
        <span>Predmet:</span>
        <br />
        <div>
              <select class="popup-form-element upper title" id="original-title-become-a-tutor" name="subjects[]" required>
                  <option value="/" selected>Izberi predmet</option>
                  {% for subject in subjects %}
                  <option value="{{ subject.name }}">{{ subject.name.capitalize() }}</option>
                  {% endfor %}
              </select>
        </div>
        <button type="button" class="popup-form-element title" onclick="var el = document.getElementById('original-title-become-a-tutor'); el.parentNode.appendChild(el.cloneNode(true));">+</button>
        <br />
        <br />
        <button type="button" class="popup-form-button text-button" onclick="hideElementById('become-a-tutor'); removeBlurFromBody();">Prekliči</button>
        <button type="submit" class="popup-form-button text-button" onclick="">Potrdi</button>
    </form>
</div>
{% endif %}
{% endblock %}

{% block content %}
<h1 class="welcome">Dobrodošli, {{ current_user.username.split(' ')[0].capitalize() }}</h1>
<div class="home">
    <div class="sub-panel" id="selected">
        {% if lessons.count() > 0 %}
        <h1 class="sub-title">Izbrane ure</h1>
        {% else %}
        <h1 class="sub-title">Ni izbranih ur</h1>
        {% endif %}
        <div class="sub-container subject">
            {% for lesson in lessons %}
            <div class="subject-box" onclick="window.location.href='tutorstvo/remove/{{ lesson.id }}'" style="cursor: pointer;">
                {% set show_date = True %}
                {% include "subject_snippet.html" %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% if not current_user.is_rejected() %}
    <div class="sub-panel" id="tutor-board">
        {% if current_user.is_tutor() %}
        {% set i = current_user.getLeaderBoardPos() %}
        <span>Si </span>
        <span class="place{{ '-first' if i == 1 else '-second' if i == 2 else '-third' if i == 3 else '' }}">#{{ i }}</span>
        {% if i <= 5 %}
        <span> najboljši tutor!</span>
        <span class="celebrating">🥳</span>
        <span class="ty">Hvala ti, še tako naprej!</span>
        {% else %}
        <span> med tutorji.</span>
        <span class="celebrating">😄</span>
        <span class="ty">Na dobri poti si, hvala ti!</span>
        {% endif %}
        {% else %}
        <p>{{ become_a_tutor_message[0] }}</p>
        <p>{{ become_a_tutor_message[1] }}</p>
        <button type="button" class="popup-form-button text-button" onclick="showElementById('become-a-tutor');applyBlurToBody();">Postani tutor</button>
        {% endif %}
    </div>
    {% endif %}
</div>
<!-- <img src="{{ url_for('static', filename='logo.svg') }}" class="noInvert big-logo"> -->
{% endblock %}
