{% extends "base.html" %}

{% block content %}
<h1 class="welcome">Dobrodošli, {{ current_user.username.split(' ')[0].capitalize() }}</h1>
<div class="home">
    <div class="sub-panel">
        {% if lessons.count() > 0 %}
        <h1 class="sub-title">Izbrane ure</h1>
        {% else %}
        <h1 class="sub-title">Nimate izbranih ur</h1>
        {% endif %}
        <div class="sub-container subject">
            {% for lesson in lessons %}
            <div class="subject-box" onclick="window.location.href='tutorstvo/remove/{{ lesson.id }}'" style="cursor: pointer;">
                {% set show_date = True %}
                {% include "subject_snippet.html" %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<img src="{{ url_for('static', filename='logo.svg') }}" class="noInvert big-logo">
{% endblock %}
