{% extends 'base.html' %}
{% set page = "leaderboard" %}

{% block content %}
<div class="main">
<h1 class="lb-title">Lestvica</h1>
<div class="lb-container">
    {% for tutor, i, size, score in lb %}
    <span class="place{{ '-first' if i == 1 else '-second' if i == 2 else '-third' if i == 3 else '' }}">#{{ i }}</span>
    {% if i == 1 %}
    <img class="crown noInvert" src="{{ url_for('static', filename='crown.png') }}">
    {% elif i == 2 %}
    <img class="silver-medal noInvert" src="{{ url_for('static', filename='silver_medal.png') }}">
    {% elif i == 3 %}
    <img class="bronze-medal noInvert" src="{{ url_for('static', filename='bronze_medal.png') }}">
    {% endif %}
    <span class="tutor-name">{{ tutor }}</span>
    <div class="place-vis" style="background-image: linear-gradient(to right, var(--faint-main-color) {{ size }}%, rgba(0,0,0,0) {{ size }}%)"></div>
    <span class="score">{{ score }}</span>
    {% endfor %}
</div>
</div>
{% endblock %}
