{% extends "base.html" %}

{% block content %}
<div class="main">
    <span class="request-lesson-text">USTVARI PROŠNJO</span>
    <form class="subject-box request-lesson-box" action="/request-lesson" method="POST" autocomplete="off">
        <div class="subject-box-grid request-lesson-box-grid">
            <div style="display: flex; height: 0;">
                <input name="subject" type="text" list="subjectList" placeholder="Predmet" class="title" required />
                <datalist id="subjectList">
                    {% for subject in subjects %}
                    {% if lesson_request_db.query.filter_by(subject=subject.name).first() %}
                    {% if not lesson_request_db.query.filter_by(subject=subject.name).first().exists_user_entry(current_user.username) %}
                    <option value="{{ subject.name }}">{{ subject.name.capitalize() }}</option>
                    {% endif %}
                    {% else %}
                    <option value="{{ subject.name }}">{{ subject.name.capitalize() }}</option>
                    {% endif %}
                    {% endfor %}
                <datalist>
            </div>

            <input name="comment" type="text" class="description" maxlength="34" placeholder="Snov, komentarji, ipd." />
        </div>
        <input type="submit" value="Potrdi" class="request-lesson-button" />
    </form>
    <div class="request-lesson-side-grid">
        <script>
            function topById(id) {
                document.getElementById(id).style.zIndex = "1";
            }

            function bottomByClassName(class_name) {
                for (const el of document.getElementsByClassName(class_name)) {
                    el.style.zIndex = "0";
                }
            }

            function toggleLessonPreview(subject_name) {
                const lesson_data = `${subject_name}-lesson-data`;
                const lesson_main = `${subject_name}-lesson-main`;

                var visible = false;
                if (document.getElementById(lesson_data).style.visibility == "visible") {
                    visible = true;
                }

                hideElementsByClassName('request-lesson-data');

                if (!visible) {
                    showElementById(lesson_data);
                    bottomByClassName('request-lesson-side-box');
                    topById(lesson_main);
                }
            }
        </script>
        {% for lesson_request in lesson_request_db.query.all() %}
        <div id="{{ lesson_request.subject }}-lesson-main" class="subject-box request-lesson-side-box" onclick="toggleLessonPreview('{{ lesson_request.subject }}');">
            <span class="title">{{ lesson_request.subject }}</span>
            <div style="display: float;">
                <span class="icon-right" style="float: right; scale: 1.2;">{{ lesson_request.count() }}</span>
                <img src="{{ url_for('static', filename='person.svg') }}" class="icon-right" style="float: right; scale: 1.2;">
            </div>
            <div id="{{ lesson_request.subject }}-lesson-data" class="request-lesson-data" style="visibility: hidden;">
                {% for comment in lesson_request.comments %}
                {% if comment.content.strip() %}
                <span>&bull; {{ comment.content.strip() }}</span>
                <br>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
