{% set gray_subject_box = lesson.filled >= lesson.max or lesson.has_passed() %}
<div class="subject-box-grid" style="{{ 'filter: grayscale(100%) contrast(30%) brightness(1.2) opacity(0.5);' if gray_subject_box else 'filter: none;' }}">
    <div style="display: flex;">
        <span class="title">{{ lesson.subject }}</span>
        {% if (not gray_subject_box) or lesson.id in current_user.getSelectedSubjectsInt() or current_user.username in lesson.get_tutors() %}
        <span class="classroom">{{ lesson.classroom }}</span>
        {% endif %}
    </div>

    <div style="display: float;">
        <img src="{{ url_for('static', filename='person.svg') }}" class="icon-left" style="float: left;">
        <span class="subscript-left">{{ lesson.filled }}/{{ lesson.min }}-{{ lesson.max }}</span>
        {% if show_date %}
        <img src="{{ url_for('static', filename='calendar.svg') }}" class="icon-right" style="float: right;">
        <span class="subscript-right">{{ lesson.datetime.split('/', 1)[1] }}</span>
        {% endif %}
    </div>
</div>
<span class="description" style="{{ 'filter: grayscale(100%) contrast(30%) brightness(1.2) opacity(0.5);' if gray_subject_box else 'filter: none;' }}">
    {{ lesson.description }}
</span>
<span class="tutors" style="{{ 'filter: grayscale(100%) contrast(30%) brightness(1.2) opacity(0.5);' if gray_subject_box else 'filter: none;' }}">{{ lesson.tutors }}</span>
<span class="tutors" style="{{ 'filter: grayscale(100%) contrast(30%) brightness(1.2) opacity(0.5);' if gray_subject_box else 'filter: none;' }}">{{ lesson.human_readable_groups() }}</span>

{% if current_user.is_admin() %}
<a class="bottom-right-icon" onclick="event.stopPropagation(); toggleVisibilityById('users-for-lesson-{{ lesson.id }}');">
    <img src="{{ url_for('static', filename='person.svg') }}">
</a>
<div id="users-for-lesson-{{ lesson.id }}" class="popup" style="visibility: hidden;">
    <span>Uporabniki prijavljeni na uro</span>
    <br />
    {% for user in lesson.get_users(user_db) %}
    <span>&bull; {{ user.username }}</span>
    <br />
    {% endfor %}

    <button class="popup-form-button text-button" style="left: 15px; top: 15px;" onclick="event.stopPropagation(); toggleVisibilityById('users-for-lesson-{{ lesson.id }}');">Zapri</button>
</div>
{% endif %}
