<div class="subject-box-grid" style="{{ 'filter: grayscale(100%) contrast(30%) brightness(1.2) opacity(0.5);' if lesson.filled >= lesson.max else 'filter: none;' }}">
    <div style="display: flex;">
        <span class="title">{{ lesson.subject }}</span>
        <span class="classroom">{{ lesson.classroom }}</span>
    </div>

    <div style="display: float;">
        <img src="{{ url_for('static', filename='person.svg') }}" class="icon-left" style="float: left;">
        <span class="subscript-left">{{ lesson.filled }}/{{ lesson.min }}-{{ lesson.max }}</span>
        {% if show_date %}
        <img src="{{ url_for('static', filename='calendar.svg') }}" class="icon-right" style="float: right;">
        <span class="subscript-right">{{ lesson.datetime.split('/', 1)[1] }}</span>
        {% endif %}
    </div>
</div>
<span class="description" style="{{ 'filter: grayscale(100%) contrast(30%) brightness(1.2) opacity(0.5);' if lesson.filled >= lesson.max else 'filter: none;' }}">
    {{ lesson.description }}
</span>
<span class="tutors" style="{{ 'filter: grayscale(100%) contrast(30%) brightness(1.2) opacity(0.5);' if lesson.filled >= lesson.max else 'filter: none;' }}">{{ lesson.tutors(subject_db, user_db) }}</span>
