{% extends "base.html" %}

{% block content %}
<div class="main">
    <div class="testsContainer">
        {% for img in images %}
            <div class="testContainer">
                <img src="{{ tests_dir }}/{{ img }}" class="noInvert old-test">
                <div class="desc">
                    <span class="subject">{{ img.split('_', 1)[0].upper() }}</span>
                    <span class="num">{{ img.split('_', 1)[1].split('.')[0] }}</span>
                    
                </div>
                
                <a href="{{ tests_dir }}/{{ img }}" download class="download">
                    <button class="download">Download</button>
                </a>
                
                {% if current_user.is_admin() %}
                  <a href="remove-test-im/{{ img }}" class="remove-test">
                      <img src="{{ url_for('static', filename='remove.svg') }}">
                  </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
