{% extends "base.html" %}
{% set page = "tutorstvo" %}

{% block stylesheet %}
<link rel="stylesheet" id="flatpickr-theme" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}

{% set expl = "MSV - Miza pri stranskem vhodu\nMPK - Miza pri knjižnici\nMDŽ - Miza dežurnega učenca\nDSP - Dijaška soba pri plesni dvorani" %}

{% if not mobile and not tablet %}
<div class="main center">
{% else %}
<div class="main" style="width: 88%;">
{% endif %}
    <br />
    <div class="tutorstvo-search">
        <a href="#" style="cursor: pointer;" id="tutorstvo-search-button">
            <img src="{{ url_for('static', filename='search.svg') }}" class="icon">
        </a>
    </div>

    <div class="right tutorstvo-arrows">
        {% if show_arrow %}
        <a onclick="window.location.href='tutorstvo'" style="cursor: pointer;">
            <span class="icon text-button">&laquo</span>
        </a>

        <a onclick="window.location.href='tutorstvo?date={{ startNext[0] }}'" style="cursor: pointer;">
            <img src="{{ url_for('static', filename='arrow_backward.svg') }}" class="icon">
        </a>
        {% endif %}

        <a onclick="window.location.href='tutorstvo?date={{ startNext[1] }}'" style="cursor: pointer;">
            <img src="{{ url_for('static', filename='arrow_forward.svg') }}" class="icon">
        </a>

    </div>

    <div class="week-bg">
    <table class="week{{ ' center' if tablet else '' }}">
        <tr>
            {% if not tablet %}
            <th></th>
            {% if not mobile %}
            <th></th>
            {% endif %}
            {% endif %}

            {% for day, date in days[0] %}
            <th class="day-container">
                <span class="day">{{ day }}</span>
                <br />
                <span class="date">{{ date }}</span>
            </th>
            {% endfor %}
        </tr>

        {% for i, row in enumerate(rows[1]) %}
        <tr>
            {% if not mobile and not tablet %}
                <th class="side">
                    <span class="indicator">{{ row[0] }}</span>
                    <br />
                    <span class="duration">{{ row[1] }}</span>
                    <br />
                    <span class="duration">{{ row[2] }}</span>
                    <br />
                </th>
            {% endif %}

            {% if not mobile and not tablet %}
            <th></th>
            {% endif %}

            {% set max_len, row_data = rows[0][i] %}
            {% for row_lessons in row_data %}
            {% set tracker = namespace(was_lesson=False,date=None) %}

            <th class="lesson-display">
                {% if mobile or tablet %}
                    <span class="duration">{{ row[0] }}: {{ row[1] }} - {{ row[2] }}</span>
                {% endif %}

                {% for data in row_lessons %}
                {% set tracker.date, lesson = data %}

                {% if lesson %}
                {% set tracker.was_lesson = True %}
                <div class="subject-box" onclick="{{ '' if lesson.filled >= lesson.max or lesson.has_passed() else 'window.location.href=\'tutorstvo/add/' + str(lesson.id) + '\'' }}" style="cursor: {{ 'pointer' if not lesson.has_passed() else 'default' }};">
                    {% if lesson.subject in subjects %}
                    {% if not lesson.has_passed() and lesson.is_removable() %}
                        <a href="remove-lesson/{{ lesson.id }}" class="remove-lesson">
                            <img src="{{ url_for('static', filename='remove.svg') }}">
                        </a>
                    {% elif lesson.has_passed() %}
                        <div class="popup" id="lesson-{{ lesson.id }}-issues" class="popup-form">
                            <form method="POST" action="/new_issue">
                                <input type="hidden" value="{{ lesson.id }}" name="id">
                                <span>Kateri dijaki se niso udeležili ure?</span>
                                <br />
                                <div>
                                    <select class="popup-form-element title" id="original-user-select" name="users[]" required>
                                        <option value="/" selected>Izberi uporabnika</option>
                                        {% for user in lesson.get_users(user_db) %}
                                        <option value="{{ user.username }}">{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button type="button" class="popup-form-element title" onclick="var el = document.getElementById('original-user-select'); el.parentNode.appendChild(el.cloneNode(true));">+</button>
                                <br />
                                <br />
                                <button type="button" class="popup-form-button text-button" onclick="hideElementById('lesson-{{ lesson.id }}-issues');">Prekliči</button>
                                <button type="submit" class="popup-form-button text-button" onclick="">Potrdi</button>
                            </form>
                        </div>
                        <a href="#" onclick="showElementById('lesson-{{ lesson.id }}-issues');" class="issue-lesson">
                            <img src="{{ url_for('static', filename='issue.svg') }}">
                        </a>
                    {% endif %}
                    {% else %}
                    <img title="{{ expl }}" src="{{ url_for('static', filename='info.svg') }}" class="info-icon">
                    {% endif %}

                    {% set show_date = False %}
                    {% include "subject_snippet.html" %}
                </div>
                {% endif %}

                {% endfor %}

                {% if current_user.is_tutor() %}
                {% for _ in range(max_len - len(row_lessons) + 1) %}
                {% if not has_passed(tracker.date) %}
                <a href="#" class="add-subject" data-date="{{ tracker.date }}"></a>
                {% endif %}
                {% endfor %}
                {% endif %}
            </th>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
</div>

{% if current_user.is_tutor() %}
{% if lesson_creation_error %}
<div class="popup" style="visibility: visible;">
    <span>{{ lesson_creation_error }}</span>
</div>
{% endif %}
<form method="POST" id="subject-form">
    <div class="add-subject-form" data-frcls="{{ free_classrooms }}" data-clsrdata="{{ classroom_data }}">
        <div class="subject-box-grid">
          <div style="display: flex;">
                <select class="title" id="subject-selector" name="title" required>
                    <option value="" disabled selected>Predmet</span>
                    {% for subject in subjects %}
                    <option value="{{ subject }}">{{ subject.capitalize() }}</option>
                    {% endfor %}
                </select>
                <select class="classroom element" style="width: 80px;" name="classroom" id="classroom-selector" required></select>
                <img title="{{ expl }}" src="{{ url_for('static', filename='info.svg') }}" class="info-icon">
          </div>

            <div style="display: float;">
                <img src="{{ url_for('static', filename='person.svg') }}" class="icon-left" style="float: left;">
                <div class="subscript-left" style="display: flex; justify-content: start;">
                    <span class="people-amount">0/</span>
                    <input pattern="^[1-9]+$" maxlength="2" class="dynamicInput" placeholder="_" name="min" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                    <span class="people-amount">-</span>
                    <input pattern="^[1-9]+$" maxlength="2" class="dynamicInput" placeholder="_" name="max" required autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
                </div>
                <input type="hidden" name="datetime" id="fullDatetime" required />
            </div>
        </div>

        <textarea class="description" name="description" rows="3" cols="160" maxlength="60" style="resize: none;" placeholder="Opis" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
        <p class="counter"><span id="description-char-count">0</span>/60</p>
        <a class="dropdown-arrow" id="tutors-select-dropdown-arrow" style="--dropdown-arrow-prefix: 'Izberi ostale tutorje  ';" onclick="toggleVisibilityById('tutors-select-top'); toggleVisibilityByClassName('lesson-form-bottom-button'); this.classList.toggle('open'); updateTutorsSelect();"></a>
        <div class="tutors-select" id="tutors-select-top" style="visibility: hidden;">
            <div id="tutor-container">
                <input type="hidden" id="selected-tutors" name="tutors"></input>
                <div id="tutors-select-container"></div>
                <script>
                function updateTutorsSelect() {
                    function setTutorAddOptions() {
                        var subject = document.getElementById('subject-selector').value;
                        var tutors_select = document.getElementById('tutors-select-container');
                        var all_tutors = {{ all_tutors | safe }};
                        var tutors = all_tutors[subject];

                        tutors_select.innerHTML = '';

                        if (tutors.length == 0) {
                            tutors_select.innerHTML = '<span style="width: max-content;">Za ta predmet ni ostalih tutorjev.</span>';
                        }

                        for (let i = 0; i < tutors.length; i++) {
                            let container = document.createElement('div');
                            container.classList.add('tutors-select-sub-container');

                            let checkbox = document.createElement('input');
                            checkbox.type = "checkbox";

                            let id = `tutors-select-option-${i}`;
                            checkbox.id = id;

                            container.appendChild(checkbox);

                            let label = document.createElement('label');
                            label.setAttribute('for', id);
                            label.textContent = tutors[i];

                            container.appendChild(label);

                            tutors_select.appendChild(container);
                        }
                    }

                    setTutorAddOptions();

                    document.getElementById('subject-selector').addEventListener("change", setTutorAddOptions);

                    function updateSelectedTutors() {
                        const checkboxes = document.querySelectorAll('#tutors-select-container input[type="checkbox"]:checked');
                        const labels = Array.from(checkboxes).map(cb => cb.parentElement.textContent.trim());
                        document.getElementById('selected-tutors').value = labels.join(', ');
                    }

                    document.querySelectorAll('#tutors-select-container input[type="checkbox"]').forEach(checkbox => {
                        checkbox.addEventListener('change', updateSelectedTutors);
                    });
                    updateSelectedTutors();

                    document.addEventListener('click', function(e) {
                        let tutors_select_top = document.getElementById('tutors-select-top');
                        let dropdown_arrow = document.getElementById('tutors-select-dropdown-arrow');

                        if (!tutors_select_top.contains(e.target) && !dropdown_arrow.contains(e.target) && dropdown_arrow.classList.contains('open')) {
                            toggleVisibilityById('tutors-select-top');
                            toggleVisibilityByClassName('lesson-form-bottom-button');
                            dropdown_arrow.classList.toggle('open');
                        }
                    });
                }
                updateTutorsSelect();
                </script>
            </div>
        </div>

        <a class="dropdown-arrow" id="years-select-dropdown-arrow" style="--dropdown-arrow-prefix: 'Izberi letnike  ';" onclick="toggleVisibilityById('years-select-top'); toggleVisibilityByClassName('lesson-form-bottom-button'); this.classList.toggle('open'); updateYearsSelect();"></a>
        <div class="years-select" id="years-select-top" style="visibility: hidden;">
            <div id="years-container">
                <input type="hidden" id="selected-years" name="groups"></input>
                <div id="years-select-container"></div>
                <script>
                function updateYearsSelect() {
                    const human_years = {{ human_readable_groups | safe }};
                    const human_years_reversed = {};
                    for (const [key, value] of Object.entries(human_years)) {
                        human_years_reversed[value] = key;
                    }

                    function setYearsAddOptions() {
                        var years_select = document.getElementById('years-select-container');
                        var years = {{ current_user.tutoring_years() | safe }};

                        years_select.innerHTML = '';

                        for (let i = 0; i < years.length; i++) {
                            let container = document.createElement('div');
                            container.classList.add('years-select-sub-container');

                            let checkbox = document.createElement('input');
                            checkbox.type = "checkbox";

                            if (years[i] == "{{ current_user.get_year() }}") {
                                checkbox.checked = true;
                            }

                            let id = `years-select-option-${i}`;
                            checkbox.id = id;

                            container.appendChild(checkbox);

                            let label = document.createElement('label');
                            label.setAttribute('for', id);
                            label.setAttribute('data-value', years[i]);
                            label.textContent = human_years[`${years[i]}`];

                            container.appendChild(label);

                            years_select.appendChild(container);
                        }
                    }

                    setYearsAddOptions();

                    function updateSelectedYears() {
                        const checkboxes = document.querySelectorAll('#years-select-container input[type="checkbox"]:checked');
                        const values = Array.from(checkboxes).map(cb => human_years_reversed[`${cb.parentElement.textContent.trim()}`]);
                        document.getElementById('selected-years').value = values.join(',');
                    }

                    document.querySelectorAll('#years-select-container input[type="checkbox"]').forEach(checkbox => {
                        checkbox.addEventListener('change', updateSelectedYears);
                    });
                    updateSelectedYears();

                    document.addEventListener('click', function(e) {
                        let years_select_top = document.getElementById('years-select-top');
                        let dropdown_arrow = document.getElementById('years-select-dropdown-arrow');

                        if (!years_select_top.contains(e.target) && !dropdown_arrow.contains(e.target) && dropdown_arrow.classList.contains('open')) {
                            toggleVisibilityById('years-select-top');
                            toggleVisibilityByClassName('lesson-form-bottom-button');
                            dropdown_arrow.classList.toggle('open');
                        }
                    });
                }
                updateYearsSelect();
                </script>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between;">
            <div class="submit-form lesson-form-bottom-button">
                <input class="subject-form-button lesson-form-bottom-button" type="submit" value="Shrani" />
            </div>
            <div class="submit-form lesson-form-bottom-button">
                <a href="#" class="subject-form-button close-add-subject lesson-form-bottom-button" onclick="setYearsAddOptions();">
                    <input class="subject-form-button subject-form-button-decline lesson-form-bottom-button" type="button" value="Prekliči" />
                </a>
            </div>
        </div>
    </div>
</form>
{% endif %}

<form action="tutorstvo" id="search-results-form">
    <div class="search-results">
        <div style="display: flex; margin-bottom: 20px;" class="search-container">
            <a href="/tutorstvo" class="close-search-results" style="align-content: center;">
                <img src="{{ url_for('static', filename='close.svg') }}" class="search-close" >
            </a>

            <select class="title" name="search" style="margin-right: 20px; text-align: center; color: inherit;">
                {% if not search %}
                <option value="" selected disabled hidden>Izberite predmet</option>
                {% endif %}
                {% for subject in all_subjects %}
                <option {{ 'selected' if subject.name == search else '' }} value="{{ subject.name }}">{{ subject.name.upper() }}</option>
                {% endfor %}
            </select>

            <input type="submit" id="search-submit" value="" class="search-submit invert" style="background-image: url({{ url_for('static', filename='search.svg') }});" />
        </div>

        {% set has_results = [] %}

        <div class="results" style="margin-left: 10px;">
            {% for lesson in lessons %}
            {% if lesson.subject == search %}
                <div class="subject-box" onclick="window.location.href='tutorstvo/add/{{ lesson.id }}'" style="cursor: pointer; margin-bottom: 4px;">
                    {% if lesson.subject.lower() in subjects %}
                        <a href="remove-lesson/{{ lesson.id }}" class="remove-lesson">
                            <img src="{{ url_for('static', filename='remove.svg') }}">
                        </a>
                    {% endif %}

                    {% set show_date = True %}
                    {% do has_results.append(True) %}
                    {% include "subject_snippet.html" %}

                </div>

            {% endif %}
            {% endfor %}
        </div>

        {% if not any(has_results) and search %}
        <span class="center-text">Za izbran predmet ne obstaja nobena ura.</span>
        {% endif %}
    </div>
</form>

{% endblock %}
{% block script %}
{% if search %}
<script>
    document.getElementsByClassName('tutorstvo-search')[0].click();
</script>
{% endif %}
<script>
    function nextWeek(direction) {
      if (direction === 'left') {
        window.location.href='tutorstvo?date={{ startNext[1] }}';
      }

      if (direction === 'right') {
        window.location.href='tutorstvo?date={{ startNext[0] }}';
      }
    }
    addSwipeListener(document.getElementsByClassName('week')[0], nextWeek);
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
{% endblock %}
